<!---################ this html is the view in MCV ###########-->
<html>
    <head>
        <title>
            Todo APP
        </title>

        <style>
            .hidden {
                display: none;
            }
            ul{
                list-style:none;
                padding:0;
                margin:0;
                width:400px;
            }
            li{
                clear:both;
            }
            li button{
                -webkit-appearance:none;
                border:none;
                outline:none;
                background-color: white;
                color: red;
                cursor:pointer;
                font-size:30px;
                display: inline-block;
                /* float:right; */
            }

            .layout-left{
                margin-left: 10%;
                padding: 100 px;    
            }

            .lists-wrapper, .todos-wrapper {
                display: inline-block;
                vertical-align: top;
            }
        </style>
    </head>
    <body>

        <div class="lists-wrapper">
            <h4> Types of Todo Lists</h4>

            <form id="form_lists">
                <div>
                    <label for="name">Create a todo list</label>
                    <input type="text" id="description_lists" name="description"/>
                    <input type="submit" id="submit_lists" value="Create"/>
                </div>
             </form>

             <div id = 'error' class = "hidden">Somthing went wrong!</div>

            <ul id="lists">
                {% for list in lists %}
                <li>
                    <input class="check-completed_lists" data-id="{{list.id}}" type='checkbox' {% if list.completed_list %} checked {% endif %} /> 
                    <a href='/lists/{{list.id}}'>
                        {{list.name}}
                    </a>
                    <button class="delete-button_lists" data-id="{{list.id}}"> &Cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="todos-wrapper">
            <h4> Todo Items in TodoList 
                "{{active_list.name}}"
            </h4>

            <form id="form_todo">
                    <div>
                        <input id="list_id" type="hidden" value="{{active_list.id}}">
                        <label for="name">Create a todo item</label>
                        <input type="text" id="description_todo" name="description"/>
                        <input type="submit" id="submit_todo" value="Create"/>
                    </div>
            </form>

            <div id = 'error' class = "hidden">Somthing went wrong!</div>
        
            <!-- <ul id='todos' class="lists-wrapper"> ul means unordered list -->
            
            <ul id='todos' > <!--ul means unordered list-->
                <!--use jinja to bed non-html info in a html file-->
                {% for todo in todos %}
                <li>
                <input class="check-completed_todo" data-id="{{todo.id}}" type='checkbox' {% if todo.completed %} checked {% endif %} /> 
                {{todo.description}}
                <button class="delete-button_todo" data-id="{{todo.id}}"> &Cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>

        <script>
           const checkboxes_todo = document.querySelectorAll('.check-completed_todo');
           for (let i = 0; i < checkboxes_todo.length; i++) {
               const checkbox_todo = checkboxes_todo[i];

               checkbox_todo.onchange =  function(e) {
                   console.log('event', e);

                   const newCompleted = e.target.checked;
                   const todoId = e.target.dataset['id'];

                   fetch('/todos/' + todoId + '/set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers:{
                            'Content-Type':'application/json'
                        }
                    })
                    .then(function(){
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function(){
                        document.getElementById('error').className = '';
                    })
                }
           }
            
           const checkboxes_list = document.querySelectorAll('.check-completed_lists');
           for (let i = 0; i < checkboxes_list.length; i++) {
               const checkbox_list = checkboxes_list[i];
               checkbox_list.onchange =  function(e) {
                   console.log('event', e);

                   const listId = e.target.dataset['id'];
                   const newCompleted = e.target.checked;

                   fetch('/lists/' + listId + '/set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers:{
                            'Content-Type':'application/json'
                        }
                    })
                    .then(function(){
                        window.location.reload(true);
                    })
                    .then(function(){
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function(){
                        document.getElementById('error').className = '';
                    })
                }
            }


           const deleteCrosses_todo = document.querySelectorAll('.delete-button_todo');
           for (let i = 0; i < deleteCrosses_todo.length; i++) {
               const deleteCross_todo = deleteCrosses_todo[i];
               deleteCross_todo.onclick =  function(e) {
                   console.log('event', e);
                   const todoId = e.target.dataset['id'];
                   fetch('/todos/' + todoId + '/delete', {
                    method: 'DELETE',
                   })
                   .then(function(){
                       const item=e.target.parentElement;
                       item.remove
                       window.location.reload(true);
                   })
                }
            }

           const deleteCrosses_list = document.querySelectorAll('.delete-button_lists');
           for (let i = 0; i < deleteCrosses_list.length; i++) {
               const deleteCross_list = deleteCrosses_list[i];
               deleteCross_list.onclick =  function(e) {
                   console.log('event', e);
                   const listId = e.target.dataset.id;

                   fetch('/lists/'+listId+'/delete', {
                    method: 'DELETE'
                   })
                   .then(function(){
                       console.log('parent?', e.target);
                       const item=e.target.parentElement;
                       item.remove;
                       document.getElementById("error").className = "hidden";
                       window.location.reload(true);
                   })
                   .catch(function(){
                       console.error(e);
                       document.getElementById('error').className = '';
                   })
                }
            }

            // work on to get the description
            document.getElementById('form_todo').onsubmit = function(e){
               e.preventDefault();
               fetch('/todos/create',{
                    method:'POST',
                    body: JSON.stringify({
                       'description': document.getElementById('description_todo').value,
                       'list_id':document.getElementById('list_id').value
                    }),
                    headers: {
                        'Content-Type':'application/json'
                    }
                   })
                   .then(function(response){
                       return response.json();
                   })
                   .catch(function(){
                       document.getElementById('error').className = '';
                    })
                   .then(function(jsonResponse){
                       console.log(jsonResponse);
                       window.location.reload(true);
                   })
                   .catch(function(){
                       document.getElementById('error').className = '';
                    })
                   .then(function(){
                       document.getElementById('error').className = 'hidden';
                   })
                   .catch(function(){
                       document.getElementById('error').className = '';
                   })  
            }


            // work on to get the description
            document.getElementById('form_lists').onsubmit = function(e){
               e.preventDefault();
               fetch('/lists/create',{
                    method:'POST',
                    body: JSON.stringify({
                       'name': document.getElementById('description_lists').value,
                    }),
                    headers: {
                        'Content-Type':'application/json'
                    }
                   })
                   .then(function(response){
                       return response.json();
                   })
                   .catch(function(){
                       document.getElementById('error').className = '';
                    })
                   .then(function(jsonResponse){
                       console.log(jsonResponse);
                       window.location.reload(true);
                   })
                   .catch(function(){
                       document.getElementById('error').className = '';
                    })
                   .then(function(){
                       document.getElementById('error').className = 'hidden';
                   })
                   .catch(function(){
                       document.getElementById('error').className = '';
                   })  
            }
        </script>

    </body>
</html>